.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


p{
  display : "inline-block";
}


nav{
  background-color: crimson;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.footer-div .icons{
  margin-bottom: 0;
}

.footer-list{
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}

.contents{
  padding-top: 80px;
}

footer{
  background-color: crimson;
  color: white;
  padding: 10px;
  /* position: fixed; */
  bottom:  0;
  width: 100%;
  font-size: 1.05rem;
}

footer a{
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

footer h3{
  text-align: center;
}

body{
  text-align: center;
  align-items: center;
}
.center{
  text-align : center;
}

.home-div{
  padding: 20px;
  margin: 20px;
  width: 50%;
  text-align: center;
}

@media  screen and (max-width :800px){
  footer div{
   text-align: center;
  }
  footer{
    font-size: 0.85rem;
    padding: 5px;
  }
  .home-div{
    width: 100%;
    padding: 30px;
  }
  body{
    font-size: 0.75rem;;
  }
}